<!DOCTYPE html>
<html lang="en"> 

<head>
    <title> <%= createGame %> </title>  
    <link rel="stylesheet" href="/styles/home.css" />
    <main> 
</head>
<body> 
    <div>
    <form id="create-game" action=" /createGame" method = "post"></form>
    <label for="RoomName"> Room Name: </label> <input id="gameID" type="text" name="user" <br>
    <label for = "Password"> Password:</label> <input pass= "gamePass" type = "password" <br> 
    <label for = "Players" > Number of Players: </label> <input players = "number" type = "text" name= "players"> <br>
    <input type= "submit">
    <label for="message">Message:</label>
      <input
          id="message"
          type="text"
          name="message"/>
      <br /><br /><input type="submit" value="Send" />
    <div id="chatbox"></div>
  </form>
</div>

</main>


<footer class "footer"> <%- include ('partials/footer')></footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/uno.js"></script>
</body>
</html>