extends layout

//-
  block content
  h1= title

  p= message

block chat
  div.container 
    header.header UNO
      a(href="/logout") logout 
    main.main
      h1 Main Content 
      p game room 
      div#cardarea
        img(src="/images/blue_0.png")

    aside.sidebar 
      h2 Chat       
      form(id="input-form")
        labe(for="message") Message:
        input#message(type="text" name="message")
        br
        br
        input(type="submit" value="Send")

        div#chatbox
    footer.footer  &copy; Footer Example


  script(src='/scripts/uno.js')   


  