<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <main>
      <div>
        <form id="join-game" action=" /joinGame" method="post">
          <label for="RoomName"> Room Name: </label>
          <input id="room" type="text" name="room" value="<%= room %>" /> <br />
          <label for="Password"> Password:</label>
          <input pass="gamePass" type="password" /> <br />
          <input type="submit" />
          <br />
        </form>
      </div>
    </main>

    <footer class="footer"><%- include('partials/footer')%></footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/uno.js"></script>
  </body>
</html>
