<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<header>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</header>

<body>
  <form id="login-form" action="/login" method="post">
    <labe for="user">username:</labe><input id="user" type="text" name="user"><br>
    <labe for="password">Password:</labe><input id="password" type="password" name="password"><br><input type="submit"
      value="Login">
  </form>
</body>

</html>