<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>

  <body>
    <header><%- include('partials/header'); %></header>

    <main>
      <h1>Logout</h1>
      <p>You are logged out</p>
      <a href="/">Home</a>
    </main>

    <footer><%- include('partials/footer'); %></footer>
  </body>
</html>
