<!DOCTYPE html>
<html>
    <head>
     <%- include('partials/head') %>
    </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </header>
    <main>
      <h1>UNO Rules</h1>
      <p>RULES TO PLAY UNO:</p>
      <ul>
       <li></li>
      </ul>
    </main>
    <footer class="footer">
        <%- include('partials/footer') %>
    </footer>
    <script src="/scripts/uno.js"></script>

  </body>
</html>
