<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>

  <body class="signup-body">
    <ul class="nav">
      <li><a href="/">Home</a></li>
    </ul>

    <div class="signUp-container">Congratulations you won.</div>

    <footer class="footer"><%- include('partials/footer') %></footer>
  </body>
</html>
