/* body {
    background-color: rgba(0, 0, 255, 0.1);
}
*/

#chatbox {
  background-color: #FFF; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 300px;
  width: 250px;
  margin: 0 auto;
  overflow: auto;
  color: black;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #a7a7a7;
  border-radius: 4px;
}

.chattext {
  margin: 0 10px;
  background-color: #c8c7c7;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 8px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0 none;
  padding: 0;
  background-color: #fff;
  /* height:100vh; */
}

ul {
  padding-left: 1em;
}

h1,
h2,
p {
  margin: 0 0 0.8em 0;
}

.container_no_chat {
  margin: 0 auto;
  display: grid;
  grid-gap: 7px;
  width: 100vw;
  height: 100vh;
  border-style: solid;
  background-color: royalblue;
  color: white;
  border-radius: 3px;
  padding: 16px;
}

.container {
  /* max-width: 940px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: 50px auto 50px;
  grid-gap: 7px;
  width: 100vw;
  height: 100vh;
  border-style: solid;
}

.headers {
  font-size: 1em;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.headers .header {
  text-align: center;
  flex-grow: 1;
  text-decoration: none;

}

.headers h1 {
  margin: 0;
  font-size: 2em;
  margin: 0 1rem;
  margin-right: 75%;
}

.headers a {
  color: white;
  text-decoration: none;

}


.container > * {
  background-color: royalblue;
  color: white;
  border-radius: 3px;
  padding: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12pt;
  grid-column-start: 1;
  grid-column-end: -1;
  border-top: 1px solid #ccc;
}


/* loggedout page styles */
.centered-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

}
.centered-content h1{
  justify-content: flex-start;
}
.uno-title {
  margin-bottom: 1rem;
  
  
}
.uno-title a {
  text-decoration: none;
  color: white;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin-left: 10px;
}
.nav-list h1 {
  margin: 0 1rem;
  margin-right: 75%;
}
.rules-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
}

.rules-list li {
  padding-bottom: 10px; /* Add desired padding between each <li> element */
}

.rules-list li a {
  padding: 5px;
  text-decoration: none;
  color: white;
  margin-left: 5px;
  text-align: center;
}

.rules-list h1 {
  margin: 0 1rem;
  margin-right: 75%;
  padding-right: 10px;
}


.nav-signup {
  display: flex;
  justify-content: space-between; /* Aligns items to the ends */
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-signup h1 {
  margin: 0 1rem;
  margin-right: auto;
  padding: 0 10px; /* Add padding to the left and right */
}

.nav-signup li {
  margin-left: auto;
  margin-right: 5px;
  padding: 0 10px; /* Add padding to the left and right */
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.stats-block {
  flex: 3;
  padding: 1rem;
  border: 1px solid #ccc;
}

.current-games {
  flex: 7;
  padding: 1rem;
  border: 1px solid #ccc;
}

/* logged in page styles */
.main {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.main div {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.main p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.main input[type="submit"] {
  border: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.game-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.game-card h3 {
  margin-bottom: 10px;
}

.game-card a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.game-card a:hover {
  background-color: #0056b3;
}


/* signUp page */
body.signup-body {
  background: royalblue;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.signUp-container {
  color: white;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.nav li a {
  color: white;
  text-decoration: none;
}

.signup-form {
  display: grid;
  grid-gap: 15px;
  padding: 40px;
  border-radius: 10px; 
  border: 3px solid whitesmoke; 
  justify-content: center;
}

.signup-form h2 {
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  justify-content: center;
}

label em {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}


.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #0056b3;
  transition: background-color 0.3s;
}

/* waiting room page */
.main h1 {
  margin-bottom: 10px;
}

.main p {
  margin-bottom: 10px;
}

.main a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.main a:hover {
  background-color: #0056b3;
}

.sidebar {
  flex: 1;
  margin-left: 10px;
}

.sidebar h2 {
  color: #333;
  margin-bottom: 10px;
}

.sidebar form {
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sidebar form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sidebar form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar form input[type="submit"]:hover {
  background-color: #0056b3;
}

.chattext {
  margin-bottom: 10px;
}

/* join game page */
.form-box {
  width: 50%;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input[type="text"], 
form input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  width: 50%;
  margin: auto;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  text-align: center;
  color: red;
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 800px) {
  .container {
    grid-template-columns: none;
  }
  .content-wrapper {
    flex-direction: column;
  }

  .stats-block,
  .current-games {
    width: 100%;
    margin-bottom: 1rem;
  }
}


.signup-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 5px;


}
.signup-btn:hover {
  background-color: #0056b3;
}

.signup-text{
  text-align: center;
}

#rules,
#special-cards {
  display: none;
  color: black;
}

#rules:target,
#special-cards:target {
  display: block;
}

#rules:target,
#special-cards:target {
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  margin: 20px 0;
}

.nav-list li a {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  color: white; 
  text-decoration: none;

}

.nav li a:hover {
  background-color: #007bff;
}

